@model Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSecRegistrant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSecRegistrant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsListedOnStockExchange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsListedOnStockExchange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsListedOnGhanaAlternativeMarket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsListedOnGhanaAlternativeMarket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredecessorAuditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredecessorAuditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlobalGroupAuditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlobalGroupAuditor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentCompanyCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentCompanyCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedRotationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedRotationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsContactAlumni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsContactAlumni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardChairName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardChairName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CfoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CfoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAltContactAlumni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAltContactAlumni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClientSalesforce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClientSalesforce)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
